/*===================================================================================
共通CSS
===================================================================================*/
/* ヘッダー */
header {
    width: 100%;
    height: 50px;
    box-shadow: 0 .5px 3px #606163;
}
header h1 {
    width: auto;
    height: 100%;
    line-height: 50px;
    float: left;
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
}
header nav {
    width: auto;
    float: left;
    height: 100%;
}
header ul {
    width: 100%;
    height: 100%;
}
header ul li {
    display: inline-block;
    width: auto;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
}
header ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    color: black;
    text-decoration: none;
}

