body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chat_area {
  width:350px;
  margin:40px auto 30px auto;
  /* text-align: center; */
  color: #078f74;
}
.chat_area h2 {
  border-left:solid .5em #09d3ac;
  text-indent: 1em;
  box-sizing: border-box;
  line-height: 30px;

}
#chat {
  width:98%;
  margin:10px auto;
}
.container {
  width:350px;
  margin:30px auto;
}
.msg {
  margin-top: 15px;
  /* border-left: solid .2em #078f74; */
  text-indent: 1.5em;
  font-size: 14px;
  position: relative;
  font-weight: bold;
  animation-name: tagview;
  animation-duration: 2s;

}
.msg::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid #078f74;
}
.killmsg {
  animation-name: tagkill;
  animation-duration: 2s;
}
.article_btn {
  cursor: pointer;
  padding: 2px 50px;
  margin-top:10px;
}


/* cellページ */
.trvia-table {
  margin:50px auto 10px auto;
}

.trvia-td {
  /* border:solid 0.1px #e3e3e3; */
  box-sizing:border-box;
  display: inline-block;
  position: relative;
}
.trivia-tag {
  border-radius: 50%;
  display: block;
  animation-duration: 2s;
  animation: ease-in-out infinite normal;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  will-change: transform;
  /* font-weight: bold; */
  color: white;
  font-size: 13px;
  overflow-wrap: break-word;
  position: relative;
  z-index: 0;
  box-shadow: 0 0 1px .5px #545454;
  box-sizing: border-box;
  /* transition: all .2s ease-in-out; */
  letter-spacing: .5px;
  transform: scale(1);
  backface-visibility: hidden;
  overflow: hidden;
}
.trivia-name {
  display: inline-block;
  width:100%;
  text-align: center;
  position: absolute;
  top: 48%;
  z-index: 0;
  transform: translate(0, -50%);
  padding: 5px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.hover_p_lang_name {
  overflow: hidden;
  margin: 5px;
  color: black;
}

.hover_article {
  overflow: hidden;
  margin: 5px;
  color: black;
}

/* 言語カラー */
/* HTML */
.p_e34f26 {
  color:#e34f26;
}
/* CSS */
.p_4166ec {
  color:#4166ec;
}
/* JavaScript */
.p_f1e05a {
  color:#f1e05a;
}
/* Python */
.p_3572A5 {
  color:#3572A5;
}
/* PHP */
.p_4F5D95 {
  color:#4F5D95;
}
/* Ruby */
.p_CC342D {
  color:#CC342D;
}
/* Java */
.p_ef9a50 {
  color:#ef9a50;
}
/* Perl */
.p_0298c3 {
  color:#0298c3;
}
/* C */
.p_555555 {
  color:#555555;
}
/* C++ */
.p_f34b7d {
  color:#f34b7d;
}
/* C# */
.p_178600 {
  color:#178600;
}
/* Swift */
.p_fb6745 {
  color:#fb6745;
}
/* Objective-c */
.p_438eff {
  color:#438eff;
}
/* BASIC */
.p_333333 {
  color:#333333;
}
/* ShellScript */
.p_89e052 {
  color:#89e052;
}
/* VBScript */
.p_00552e {
  color:#00552e;
}
/* Kotlin */
.p_EA4DFA {
  color:#EA4DFA;
}

/* VisualBasic */
.p_945db7 {
  color:#945db7;
}
/* MySQL */
.p_4479a1 {
  color:#4479a1;
}
/* Lua */
.p_000080 {
  color:#000080;
}

.mouse-on-tag {
  border-radius: 10px;
  z-index: 5;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  will-change: contents; /* ← 追加 */
  overflow: hidden;
}
.mouse-out-tag {
  border-radius: 50%;
  z-index: 1;
  -webkit-font-smoothing: antialiased;

}

@keyframes scale_up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
  }
}
@keyframes scale_down {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

/* .tagview {
  animation: tagview;
} */

.tag_move_0 {
  animation-name: tag_move_0;
}
.tag_move_1 {
  animation-name: tag_move_1;
}
.tag_move_2 {
  animation-name: tag_move_2;
}
.tag_move_3 {
  animation-name: tag_move_3;
}
.tag_move_4 {
  animation-name: tag_move_4;
}
.tag_move_5 {
  animation-name: tag_move_5;
}
.tag_move_6 {
  animation-name: tag_move_6;
}
.tag_move_7 {
  animation-name: tag_move_7;
}
.tag_move_8 {
  animation-name: tag_move_8;
}
.tag_move_9 {
  animation-name: tag_move_9;
}

/* ======================================================================
 animation [START]
========================================================================*/
@keyframes tagview {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes tagkill {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(.6);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes tag_move_1{
  0%   { transform:translate3d(0, 0, 0) }
  0%   { -moz-transform:translate3d(0, 0, 0) }
  0%   { -webkit-transform:translate3d(0, 0, 0) }
  50%  { transform:translate3d(-5px, -10px, 0) }
  50%  { -moz-transform:translate3d(-5px, -10px, 0) }
  50%  { -webkit-transform:translate3d(-5px, -10px, 0) }
  100% { transform:translate3d(5px, 10px, 0) }
  100% { -moz-transform:translate3d(5px, 10px, 0) }
  100% { -webkit-transform:translate3d(5px, 10px, 0) }
}
@keyframes tag_move_2{
  0%   { transform:translate3d(0, 0, 0) }
  0%   { -moz-transform:translate3d(0, 0, 0) }
  0%   { -webkit-transform:translate3d(0, 0, 0) }
  50%  { transform:translate3d(10px, 5px, 0) }
  50%  { -moz-transform:translate3d(10px, 5px, 0) }
  50%  { -webkit-transform:translate3d(10px, 5px, 0) }
  100% { transform:translate3d(-10px, -5px, 0) }
  100% { -moz-transform:translate3d(-10px, -5px, 0) }
  100% { -webkit-transform:translate3d(-10px, -5px, 0) }
}
@keyframes tag_move_3{
  0%   { transform:translate3d(0, 0, 0) }
  0%   { -moz-transform:translate3d(0, 0, 0) }
  0%   { -webkit-transform:translate3d(0, 0, 0) }
  50%  { transform:translate3d(-10px, -10px, 0) }
  50%  { -moz-transform:translate3d(-10px, -10px, 0) }
  50%  { -webkit-transform:translate3d(-10px, -10px, 0) }
  100% { transform:translate3d(10px, 10px, 0) }
  100% { -moz-transform:translate3d(10px, 10px, 0) }
  100% { -webkit-transform:translate3d(10px, 10px, 0) }
}
@keyframes tag_move_4{
  0%   { transform:translate3d(0, 0, 0) }
  0%   { -moz-transform:translate3d(0, 0, 0) }
  0%   { -webkit-transform:translate3d(0, 0, 0) }
  50%  { transform:translate3d(10px, 10px, 0) }
  50%  { -moz-transform:translate3d(10px, 10px, 0) }
  50%  { -webkit-transform:translate3d(10px, 10px, 0) }
  100% { transform:translate3d(-10px, -10px, 0) }
  100% { -moz-transform:translate3d(-10px, -10px, 0) }
  100% { -webkit-transform:translate3d(-10px, -10px, 0) }
}
@keyframes tag_move_5{
  0%   { transform:translate3d(0, 0, 0) }
  0%   { -moz-transform:translate3d(0, 0, 0) }
  0%   { -webkit-transform:translate3d(0, 0, 0) }
  50%  { transform:translate3d(-10px, 0, 0) }
  50%  { -moz-transform:translate3d(-10px, 0, 0) }
  50%  { -webkit-transform:translate3d(-10px, 10px, 0) }
  100% { transform:translate3d(10px, 0, 0) }
  100% { -moz-transform:translate3d(10px, 0, 0) }
  100% { -webkit-transform:translate3d(10px, 0, 0) }
}
@keyframes tag_move_6{
  0%   { transform:translate3d(0, 0, 0) }
  0%   { -moz-transform:translate3d(0, 0, 0) }
  0%   { -webkit-transform:translate3d(0, 0, 0) }
  50%  { transform:translate3d(10px, 0, 0) }
  50%  { -moz-transform:translate3d(10px, 0, 0) }
  50%  { -webkit-transform:translate3d(10px, 10px, 0) }
  100% { transform:translate3d(-10px, 0, 0) }
  100% { -moz-transform:translate3d(-10px, 0, 0) }
  100% { -webkit-transform:translate3d(-10px, 0, 0) }
}
@keyframes tag_move_7{
  0%   { transform:translate3d(0, 0, 0) }
  0%   { -moz-transform:translate3d(0, 0, 0) }
  0%   { -webkit-transform:translate3d(0, 0, 0) }
  50%  { transform:translate3d(0,-10px, 0) }
  50%  { -moz-transform:translate3d(0, -10px, 0) }
  50%  { -webkit-transform:translate3d(0, -10px, 0) }
  100% { transform:translate3d(0, 10px, 0) }
  100% { -moz-transform:translate3d(0, 10px, 0) }
  100% { -webkit-transform:translate3d(0, 10px, 0) }
}
@keyframes tag_move_8{
  0%   { transform:translate3d(0, 0, 0) }
  0%   { -moz-transform:translate3d(0, 0, 0) }
  0%   { -webkit-transform:translate3d(0, 0, 0) }
  50%  { transform:translate3d(0,10px, 0) }
  50%  { -moz-transform:translate3d(0, 10px, 0) }
  50%  { -webkit-transform:translate3d(0, 10px, 0) }
  100% { transform:translate3d(0, -10px, 0) }
  100% { -moz-transform:translate3d(0, -10px, 0) }
  100% { -webkit-transform:translate3d(0, -10px, 0) }
}
@keyframes tag_move_9{
  0%   { transform:translate3d(0, 0, 0) }
  0%   { -moz-transform:translate3d(0, 0, 0) }
  0%   { -webkit-transform:translate3d(0, 0, 0) }
  50%  { transform:translate3d(5px, -10px, 0) }
  50%  { -moz-transform:translate3d(5px, -10px, 0) }
  50%  { -webkit-transform:translate3d(5px, -10px, 0) }
  100% { transform:translate3d(5px, -10px, 0) }
  100% { -moz-transform:translate3d(5px, -10px, 0) }
  100% { -webkit-transform:translate3d(5px, -10px, 0) }
}
@keyframes tag_move_0{
  0%   { transform:translate3d(0, 0, 0) }
  0%   { -moz-transform:translate3d(0, 0, 0) }
  0%   { -webkit-transform:translate3d(0, 0, 0) }
  50%  { transform:translate3d(-10px, 5px, 0) }
  50%  { -moz-transform:translate3d(-10px, 5px, 0) }
  50%  { -webkit-transform:translate3d(-10px, 5px, 0) }
  100% { transform:translate3d(10px, -5px, 0) }
  100% { -moz-transform:translate3d(10px, -5px, 0) }
  100% { -webkit-transform:translate3d(10px, -5px, 0) }
}
/* ======================================================================
 animation [E_N_D]
========================================================================*/